body {
	font-family: Georgia;
}
.title {
	font-size: 22px;
	background-image: url("/home/jamie/web_developer_notes/project1/image/pattern.jpeg");
	color: yellow;
	text-align: center;
}
.brushes {
	background-color: green;
}
.frames {
	background-color: pink;
}
.paint {
	background-color: CornflowerBlue;
}
.2ndtitle {
	font-size: 18px;
	color: white;
}
.3rdtitle {
	font-size: 16px;
}
.read {
	font-size: 14px;
}
.price {
	color: blue;
}
